*{
  margin:0;
  padding: 0;
}

body{
  font-family: 'Raleway', sans-serif;
}

#bg{
  background-image: url(ecole2.jpg);
  height: 675px;
  width: 100%;
  /*background-position: 10% 40%;*/
  background-size: 100%;

}

#bgOpacity{
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6 );
  animation-name:Opacity;
  animation-duration: 10s;
}

@keyframes Opacity{
  from{
    background-color: rgba(0,0,0,1)
  }
  to{
    background-color: rgba(0,0,0,0.6)
  }
}

#home{
  position: absolute;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid white;
  border-radius: 1px;
}

.titre{
  text-align: center;
  color:white;
}

.h1{
  font-size: 3.8em;
  padding-top: 10%;
  animation-duration: 3s;
  animation-name: slideingauche;
}

@keyframes slideingauche {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.h2{
  margin-top: 20px;
  font-size: 1.6em;
  animation-duration: 3s;
  animation-name: slideindroite;
  /*animation-delay: 2s;*/
}

@keyframes slideindroite {
  from {
    margin-left: -2000px;
    width: 30%;
    /*display: none;*/
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


#commencer{
  height:30px;
  width: 250px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.3);
  color:white;
  padding-top: 13px;
  border: 1px solid white;
  margin: 100px auto;

}

#commencer:hover{
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

#commencer:hover a{
  color: rgba(255, 0, 0, 0.9);
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: rgba(255, 0, 0, 0.9);
}


/*a:target*/

.prenom{
  font-size: 0.8em;
  margin-top: 100px;
  margin-left: 610px;

}

/*p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
/*.animated infinite boucne*/
