*{
  margin:0;
  padding:0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "Raleway";
  text-align: justify;
}

/*NAVBAR -------------------------------------------*/

header {
  font-size: 1.7em;
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

#navbar, #hiddenUl  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #1A1717;
}
#navbar .cellules, #hiddenUl .cellules{
  list-style-type: none;
  width: 25%;
  border: 1px solid rgba(237, 22, 81, 0.2);
  padding: 10px;
}

.cellules:hover{
  color: #ED1651;;
  animation-name: fondu;
  animation-duration:0.1s;
  font-weight: lighter;
}
.cellules:hover a{
    color: #ED1651;
}

#EnCours {
background-color: #ED1651;
color: white;
}

#logoHome{
  width: 10%;
}

#logoResponsive {
  display: none;
}

#homeRose{
  padding-top: 4px;
  height: 50px;
  width: 50px;
}

/*PARTIE CACHEE -----------------------------------------*/

#hiddenUl .cellules {
  width: 100%;
  background-color: white;
  justify-content: center;
  color: #1A1717;
  font-size: 0.6em;
}
#hiddenLi1 {
  display: none;
}
#hiddenLi2{
  display: none;
}
#hiddenLi4 {
  display: none;
}
#hiddenLi5 {
  display: none;
}

/* BLOCS ATELIER*/

article {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  margin-right: 40px;
}
#pre_requis {
  padding-top: 50px;
  flex-direction: column;
  border: none;
}
.intro {
  display: flex;
  justify-content: center;
}
.intro p {
  padding-top: 150px;
  font-weight: bold;
  font-size: 1.5em;
}
.other_array li {
  list-style-type: circle;
}
.other_array{
  padding : 20px;
}
.explanations {
  display: flex;
  width: 40%;
  flex-direction: column;
  vertical-align: middle;
}
.code {
  width: 40%;
}
.code img {
  width: 100%;
}
.other_link {
  color: #ED1651;
}
.trait {
  border:1px solid #ED1651;
  width: 80%;
  margin: 5% 10%;
}
#rappel {
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1717;
  color: white;
  width: 100%;
  height: 50px;
}

/*RWD ---------------------------------*/

@media screen and (max-width : 1000px){
  article {
    flex-direction: column;
    align-items: center;
  }
  .code {
    width: 80%;
  }
  .explanations {
    width: 80%;
    margin-bottom: 5%;
  }
  #rappel {
    margin-left: 3%;
    margin-right: 3%;
  }
  #logoResponsive{
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
  }

  header {
    position: absolute;
    left: -10px;
    font-size: 1em;
    display:none;
  }

  #navbar .cellules  {
    display:  block;
    margin-left: 10px;
    width: 200px;

  }

  #containerGauche{
    width: 100%;
    height: 300px;
  }

  #containerGauche p{
    visibility: hidden;
  }

  #containerDroite{
    width: 100%;
    float: none;
  }

  #texte{
    position: absolute;
    top: 0;
    margin-left: 30%;
  }

  #hiddenUl {
    display: none;
  }
  #navbar {
    display:inline-block;
    margin-top: 50px;
  }

  #logoHome{
    display: none;
  }


 #logoResponsive:hover + header, header:hover{
   display: block;
 }

 header {
   width:210px;
 }
 }

@media  screen and (min-width: 1001px){
 #header {
   width: 100%;
 }
}
