*{
  margin:0;
  padding:0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: 'Raleway';
}

li{
  list-style-type: none;
}

/*NAVBAR -------------------------------------------*/

header {
  font-size: 1.7em;
  position: fixed;
  width: 100%;
}

#logoResponsive{
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#navbar, #hiddenUl  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #1A1717;
}

#navbar .cellules, #hiddenUl .cellules{
  list-style-type: none;
  border: 1px solid rgba(237, 22, 81, 0.2);
  padding: 10px;
  width: 25%;
}

#EnCours {
background-color: #ED1651;
color: white;
}

#logoHome{
  width: 10%;
}

#homeRose{
  padding-top: 4px;
  height: 50px;
  width: 50px;
}

/*PARTIE CACHEE -----------------------------------------*/

#hiddenUl .cellules {
  width: 100%;
  background-color: white;
  justify-content: center;
  color: #1A1717;
  font-size: 0.6em;
  padding: 8px;
}
#hiddenLi1 {
  display: none;
}
#hiddenLi2{
  display: none;
}
#hiddenLi3 {
  display: none;
}
#hiddenLi5 {
  display: none;
}

/*Contenu ----------------------------------------------*/

#containerPrincipal{
  height: 100vh;
  width: 100%;
  display: inline-block;
}

/*Container Gauche------------------------------------*/

#containerGauche{
  background-color:#1A1717 ;
  height: 100vh;
  width: 40%  ;
  display: inline-block;
}
div p{
  color: white;
  padding-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}
.partieTitre{
  color: white;
  margin: 40px 0px 40px 50px;
  color: #ED1450
}

.ref{
  margin-left: 50px;
  list-style: none;
  margin-top: 5px;
}

 .ref:first-child{
   margin-top: 18px;
 }

#clique{
  font-weight: bold;
}

/*Container Droite--------------------------/*/

#containerDroite{
  float: right;
  height: 100vh;
  width: 60%;
  display: inline-block;
}

iframe {
  width:100%;
  height:100%;
}

h5{
  margin-top: 150px;
}

/*Navbar RWD-------------------------------------*/

@media screen and (max-width: 1024px){

  #logoResponsive{
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

  header {
    position: absolute;
    font-size: 1em;
    display:none;
  }

  #navbar .cellules  {
    display:  block;
    margin-left: 10px;
    width: 200px;

  }

  #containerGauche{
    width: 100%;
    height: 300px;
  }

  #containerGauche p{
    visibility: hidden;
  }

  #containerDroite{
    width: 100%;
    float: none;
  }

  #texte{
    position: absolute;
    top: 0;
    margin-left: 20%;
  }

  #hiddenUl {
    display: none;
  }
  #navbar {
    display:inline-block;
    margin-top: 50px;
  }

  #logoHome{
    display: none;
  }
}
#logoResponsive:hover + header, header:hover{
  display: block;
}

header {
  z-index: 1;
  width:210px;
}

@media  screen and (min-width: 1025px){
#header {
  width: 100%;
}
}
