*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Raleway', sans-serif;


}

a{
  text-decoration: none;
  color: black;
}

#logoSimplon{
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 1151px) {

  @keyframes transition{
    from{
      width: 0;
      height: 900px;
    }
    to{
      width: 40%;
      height:900px;
    }
  }

  #containerGauche{
    animation-name:transition;
    animation-duration: 2s;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in 1 forwards;
  }

  .fade-inTitre{
    opacity: 0;
    animation: fadeIn 4s ease-in 1 forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
#containerPrincipal{
  position: absolute;
  min-height: 100vh;
  width: 100%;

}

#containerGauche{
  position: absolute;
  top: 0;
  left: 0;

  width: 40%;
  background-color: black;
}

#titreCanvas{
  text-align: center;
  font-size: 2.9em;
  color: #ED1450;
  display: none;
}

span{
  color: white;
}

#paragrapheCanvas{
  margin-top: 50px;
  text-align: justify;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  display: none;
}

/* * * * *PARTIE DROITE* * * * * */

#containerDroite{
  position: absolute;
  right: 0;
  top: 0;
  /*float: right;*/
  display: inline-block;

  width: 60%;
  background-color: white;
}

#canvas{
padding-bottom: 50px;
width: 240px;
margin: 0 auto;
display: block;
}

.divTitre{
  border-radius: 5px;
  border: 2px solid #1A1717;
  height: 10%;
  width: 70%;
  margin: 7% auto;

}

.divTitre h2{
  text-align: center;
  padding: 20px 0;
  font-weight: 400;
}

.divTitre:hover{
  background-color:#ED1450;
  color: white;
}

@media screen and (max-width: 1150px) {

  #containerGauche {
    position: static;
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  article {
    padding-bottom: 50px;
  }

  #containerDroite {
    position:static;
    display: inline-block;
    width: 100%;
  }

  #canvas {
    position: absolute;
    top: 230px;
    left: 0px;

  }

  .divTitre {
    width: 50%
  }

  #titreCanvas {
    display:block;
  }

  #paragrapheCanvas {
    margin: 50px 10% 50px 350px;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  #canvas{
    display: none;
  }
  #paragrapheCanvas {
    width: 80%;
    margin: 50px auto;

  }
}
