*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

#logoSimplon{
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 1151px) {


@keyframes transition{
  from{
    width: 0;
    height: 775px;
  }
  to{
    width: 40%;
    height: 775px;
    }
}
#containerGauche{
  animation-name:transition;
  animation-duration: 2s;
}

#titre1{
  top: 100px;
  right: 120px;
}

#titre2{
  top: 250px;
  right: 120px;
}

#titre3{
  top: 400px;
  right: 120px;
}

#titre4{
  top: 550px;
  right: 120px;
}

.fade-in {
  visibility: hidden;
  opacity: 0;
  animation: fadeIn 1s ease-in 1 forwards;
}
.fade-inTitre{
  opacity: 0;
  animation: fadeIn 2s ease-in 1 forwards;
}

@keyframes fadeIn {
  to {
    visibility: visible;
    opacity: 1;
  }
}

}


#containerGauche{
  width: 40%;

}

article{
  float: left;
  width: 100%;
  height: 100%;
  background-color: #1A1717;
  display: inline;
  padding-bottom: 60%;
}

#titreCanvas{
  margin-top: 100px;
  text-align: center;
  font-size: 2.9em;
  color: #ED1450;
  display: none;
}
span{
  color: white;
}

article h2{
  margin-left: 30px;
  font-size: 2em;
  margin-top: 70px;
  color: #454647;
  font-weight: 400;
}

#paragrapheCanvas{
  margin-top: 100px;
  text-align: justify;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  display: none;
}

#opacity{
  height: 310px;
  width: 440px;
  background-color: rgba(255, 0, 0, 0.5);
}



/* * * * *PARTIE DROITE* * * * * */

#containerDroite{
  background-color: white;
  flex: 1;
  clear: left;
}

#canvas{
  position: absolute;
  top: 75px;
  right: 6%;
}

.divTitre{
  border-radius: 5px;
  border: 2px solid #1A1717;
  height: 100px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 1;
}


.divTitre h2{
  text-align: center;
  padding-top: 35px;
  font-weight: 400;
}

.divTitre:hover{
  background-color:#ED1450;
  border:2px solid black;
}

.divTitre:hover h2{
  color: white;
  font-weight: 400;
}

.listeTutos{
  height: 60px;
  width:  350px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 50px;
  border: 2px solid #1A1717;
  border-radius: 5px;
  text-align: center;
}

#testerLesFonctions h2{
  padding-top: 15px;
  color: black;
  font-weight: 400;
}

#testerLesFonctions:hover{
  background-color:#ED1450;
  border:2px solid black;
  font-weight: 400;
}
#testerLesFonctions:hover h2{
  color: white;
}

#listeTuto{
  display: none;
  position: relative;
  top: 30px;
  flex-direction: column;
  align-items: center;
}

#premiersPas h2{
  padding-top: 15px;
  color: black;
  font-weight: 400;
}
#premiersPas:hover{
  background-color:#ED1450;
  border:2px solid black;
  font-weight: 400;
}
#premiersPas:hover h2 {
  color: white;
}


footer{
  background-color: rgba(255, 0, 0, 0.5);
  height: 40px;
  width: 100%;
  bottom: 0px;
  position: fixed;
}

@media screen and (max-width: 1150px) {

  #containerGauche {
    width: 100%;
    height: 100%;
  }

  article {
    padding-bottom: 50px;
  }
  #containerDroite {
    display: block;
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
  #canvas {
    position: inherit ;
    display: inline-block;
  }

  .divTitre {
    position: relative;
  }

  #titre1{
    bottom: 570px;
    left: 50px;
  }

  #titre2{
    bottom: 520px;
    left: 50px;
  }

  #titre3{
    bottom: 470px;
    left: 50px;
  }

  #titre4{
    bottom: 420px;
    left: 50px;
  }

  #titreCanvas {
    display:block;
  }

  #paragrapheCanvas {
    margin: 50px 10%;
    display: block;
  }
}
