* {
  margin: 0;
  padding: 0;
}

body {
  background: lightgrey;
  font-family: 'Raleway';
}

u {
  font-size: 1.5em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/*NAVBAR -------------------------------------------*/

header {
  z-index: 1;
  font-size: 1.7em;
  position: fixed;
  width: 100%;
}

#logoResponsive {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#navbar, #hiddenUl  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #1A1717;
}

#navbar .cellules, #hiddenUl .cellules{
  list-style-type: none;
  width: 25%;
  border: 1px solid rgba(237, 22, 81, 0.2);
  padding: 10px;
}

.cellules:hover:not(#EnCours){
  animation-name: fondu;
  animation-duration:0.1s;
  font-weight: lighter;
  color: #ED1651;
}

#EnCours {
  animation: none;
}

@keyframes fondu{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

#EnCours {
  background-color: #ED1651;
  color: white;
}

#logoHome{
  width: 10%;
}

#homeRose{
  padding-top: 4px;
  height: 50px;
  width: 50px;
}

/*PARTIE CACHEE -----------------------------------------*/

#hiddenUl .cellules {
  width: 100%;
  background-color: white;
  justify-content: center;
  color: #1A1717;
  font-size: 0.6em;
}

#hiddenLi1 {
  display: none;
}

#hiddenLi5{
  display: none;
}

#hiddenLi4 {
  display: none;
}

#hiddenLi3 {
  display: none;
}

/*---------canvas-----*/

#canvas_box {
  width:800px;
  padding-top: 100px;
  background-color: lightgrey;
}

#x {
  position: absolute;
  top: 120px;
  left: 20px;
  width:50px;
}

#xSuite {
  position: absolute;
  top:120px;
  left: 140px;
  width:500px;
}

#y100 {
  position:relative;
  top:145px;
  left:5px;
}
#y200 {
  position:relative;
  top:225px;
  left:5px;
}
#y300 {
  position:relative;
  top:305px;
  left:5px;
}

#introduction{
  width: 45%;
  position: relative;
  left: 6%;
  margin-top: 20px;
  text-align: justify;
}

span {
  margin-left: 71px;
}

canvas {
  border: 1px solid black;
  background: white;
  margin-top: 0;
  margin-left: 50px;
}

input {
  width: 600px;
  height: 75px;
  margin-left: 50px;
}

h1 {
  margin: 40px 120px;
  font: 3em Sans-Serif;
}

#instructions {
  padding-top: 100px;
  width:400px;
  position:absolute;
  top: 0;
  left: 720px;
  line-height: 50px;
}

button{
  padding: 8px;
  border-radius: 5px;
  background-color: #ED1651;
  font-size: 0.9em;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}

#fonctions {
  margin-bottom: -30px;
}

#btnRaz {
  margin-top:10px;
  margin-left: 190px;
}

@media screen and (max-width: 1024px){

  #introduction {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    padding: 0 20px;
  }

  #canvas, #input {
    position: inherit;
    display: block;
    margin: 0 auto;
  }

  #canvas {
    margin-top: 50px;
  }

  h1 {
    display: none;
    position: inherit;
  }

  #logoResponsive img{
    height: 150%;
    width: 150%;
  }

    #logoResponsive{
      display: block;
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 10px;
    }

  #instructions {
    margin-top: 100px;
    position: inherit;
    width: 100%;
    padding-top: 0;
    line-height: 40px;
  }

  #instructions div {
    display: inline-block;
    width: 40%;
    margin: 0 4%;
    vertical-align: top;
  }

  #btnRaz {
    display: block;
    width: 318px;
    margin: 0 auto;
  }

  #instructions #fonctions {
    display: block;
    text-align: center;
  }

  header {
    position: absolute;
    font-size: 1em;
    display:none;
  }

  #x, #xSuite, #y100, #y200, #y300 {
    display: none;
  }

  #navbar .cellules  {
    display:  block;
    /*margin-left: 10px;*/
    /*width: 200px;*/
    width: 400px;;
    height: 110px;
  }

  #navbar li{
    padding-top: 38px;
  }

  #navbar #EnCours{
    padding-top: 50px;
  }

  #hiddenUl {
    display: none;
  }

  #navbar {
    display:inline-block;
    /*margin-top: 50px;*/
  }

  #logoHome{
    display: none;
  }

  #logoResponsive:hover + header, header:hover{
    display: block;
  }

  header {
    z-index: 1;
    width:210px;
  }
}

@media screen and (max-width: 680px){
  #canvas, #input {
    width: 300px;
  }
}
