@media  screen and (max-width: 1024px){
  *{
    margin: 0;
    padding: 0;
  }
  body{
    box-sizing: border-box;
  }
  article{
    width: 100%;
    display: block;
  }
  .text{
    width: 90%;
    /*color: pink;*/
    padding-left: 9%;
   }
   img{
     width: 378px;
      padding-top: 10px;
   }
   .image{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
   }
   .canvasBox{
     padding-left: 6%;
     display: flex;
     flex-direction: column;
   }

   .tryIt{
     margin: 10px 0;
   }
}
